################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/classes
**/packages
**/.metadata
**/.recommenders
**/RemoteSystemsTempFiles
**/.externalToolBuilders
**/.settings
**/__pycache__
**/venv
**/cameral_shara_1
**/rn_temp
/Private
/Dotnet/Project/xamarin