body {
    padding    : 0;
    margin     : 0;
    background : #ddd;
    color      : #888;
    font-family: 'Helvetica Neue', Arial
}

#load-icon-holder {
    padding-top: 10px;
    text-align : center;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    width      : 100%
}

#icons {
    display: none
}

.icon-holder {
    float        : left;
    margin       : 1em;
    padding      : 5px;
    border       : solid 1px #bbb;
    border-radius: 3px
}

.sixteen {
    width : 16px;
    height: 16px
}

.thirtytwo {
    width : 32px;
    height: 32px
}

.sixtyfour {
    width : 64px;
    height: 64px
}

.onetwoeight {
    width : 128px;
    height: 128px
}

.twofivesix {
    width : 256px;
    height: 256px
}

#save {
    margin-top: 1em;
    float     : left
}

#textarea1 {
    font-family: 'Hannotate SC', 'Hanzipen SC', 'Comic Sans', 'Comic Sans MS';
    outline    : none;
    font-size  : 18pt;
    border     : none;
    width      : 100%;
    height     : 100%;
    background : none;
}

#close {
    cursor     : pointer;
    position   : absolute;
    top        : 8px;
    right      : 10px;
    text-align : center;
    font-family: 'Helvetica Neue', 'Arial';
    font-weight: 400;
}